@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
 
:root {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);

    /* Btn */
    --btn: #0079ff;
    --btn-hover: #011f5bda;
    /* --btn-hover: #60abff; */
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Space Mono', monospace;
    background-color: var(--lm-bg);
    font-size: 13px;
    color: var(--lm-text);
}
#wrapper{
    padding: 1.4rem;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.header-section{
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}
.heading{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.theme-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-top: 7px;
    cursor: pointer;
    user-select: none;
}
.theme-section p{
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
}
.main-section{
    max-width: 720px;
    margin: 1.4rem auto;
}
.search-box{
    background-color: var(--lm-bg-content);
    color: var(--lm-text);
    height: 55px;
    border-radius: 14px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--lm-shadow);
}
.search-box div{
    display: flex;
    align-items: center;
}
.search-box img{
    margin: 10px;
}
.search-bar{
    background-color: var(--lm-bg-content);
    color: var(--lm-text);
    border: none;
    font-size: 14px;
    margin-left: 4px;
    width: 80%;
    width: 100%;
    font-family: 'Space Mono', monospace;
}
.search-bar:focus{
    outline: none;
}
.search-bar::placeholder{
    font-family: 'Space Mono', monospace;
    color: var(--lm-text);
    width: 100%;
}
.search-btn{
    height: 40px;
    background-color: var(--btn);
    color: white;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 13px;
    padding: 4px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: var(--btn-hover);
    transition: background-color 200ms ease;
}
.search-btn:active{
    scale: 1.015;
}
.content-section{
    margin-top: 1.8rem;
    background-color: var(--lm-bg-content);
    padding: 24px;
    border-radius: 14px;
    box-shadow: var(--lm-shadow);
}
.data-card{
    display: flex;
    flex-direction: column;
}
.error-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-img{
    width: 70vw;
}
.error-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-heading{
    font-size: 3rem;
    color: #2A3439;
}
.error-desc{
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.7);
}
.profile-header{
    display: flex;
    align-items: start;
}
.display-picture{
    width: 70px;
    border-radius: 100%;
}
.right-section{
    margin-left: 2rem;
    width: 100%;
}
.header-text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.name{
    color: var(--lm-text-alt);
    font-size: 1.6rem;
    font-size: 18px;
    margin-right: 1rem;
}
.profile-joined-date{
    font-size: 15px;
    font-size: 12px;
}
.profile-link{
    color: var(--btn);
}
.profile-desc{
    font-size: 14px;
    margin-top: 1rem;
    line-height: 25px;
    opacity: 0.75;
    text-align: justify;
}
.stats-section{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    background-color: var(--lm-bg);
    padding: 18px;
    border-radius: 10px;
    text-align: center;
}
.stats-tile{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.stats-title{
    font-size: 15px;
}
.stats{
    font-size: 17px;
    font-weight: 700;
    color: var(--lm-text);
}
.links-section{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.4rem;
}
.links-section-icons{
    filter: var(--lm-icon-bg);
}
.link-container{
    width: 47.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.link-container a{
    color: var(--lm-text);
}
.footer-section{
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 28px;
    background-color: black;
}
.footer-txt{
    font-size: 12px;
    color: whitesmoke;
}
.footer-links{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    font-size: 12px;
}
.footer-links p{
    color: whitesmoke;
    display: none;
}
.link-icons{
    margin-left: 1rem;
    font-size: 20px;
}
.fa-github{
    color: white;
}
.fa-linkedin-in{
    color: #0A66C2;
}
.fa-instagram{
    color: #FD1D1D;
}


/* Media Queries */
@media only screen and (max-width: 456px) {
    .link-container{
        width: 100%;
    }
}
@media only screen and (min-width: 476px) {
    .name{
        font-size: 1.4rem;
    }
    .profile-joined-date{
        font-size: 0.8rem;
    }
    .display-picture{
        width: 85px;
    }
}

@media only screen and (min-width: 576px) {
    .display-picture{
        width: 105px;
    }
    .name{
        font-size: 1.625rem;
    }
    .profile-joined-date{
        font-size: 0.825rem;
    }
    .profile-link{
        font-size: 0.95rem;
    }
    .card-leftside{
        margin-left: 135px;
    }
    .profile-desc{
        margin-top: -1.5rem;
        font-size: 1rem;
        line-height: 2;
    }
    .stats-title{
        font-size: 17px;
    }
    .stats{
        font-size: 20px;
    }
    .links-section{
        margin-top: 1.8rem;
        margin-left: auto;
        margin-right: auto;
    }
    .links-section-icons{
        height: 20px;
    }
    .link-container p,a{
        font-size: 14px;
    }
    .error-img{
        width: 350px;
    }
    .error-heading{
        font-size: 4rem;
    }
    .error-desc{
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 1024px) {
    .heading{
        font-size: 1.8rem;
    }
    .theme-section p{
        font-size: 16px;
    }
    .display-picture{
        width: 117px;
    }
    .search-box{
        height: 65px;
    }
    .search-bar{
        font-size: 1.2rem;
    }
    .search-box img{
        width: 23px;
    }
    .search-btn{
        height: 50px;
        font-size: 16px;
        padding: 8px 16px;
    }
    .name{
        font-size: 1.8rem;
    }  
    .profile-joined-date{
        font-size: 1rem;
    }
    .profile-link{
        font-size: 1rem;
    }
    .card-leftside{
        margin-left: 148px;        
    }
    .profile-desc{
        margin-top: -1.5rem;
        font-size: 17px;
        line-height: 30px;
    }
    .stats-section{
        margin-top: 1.4rem;
    }
    .stats-title{
        font-size: 18px;
    }
    .stats{
        font-size: 21px;
    }
    .links-section{
        margin-top: 1.8rem;
        margin-left: auto;
        margin-right: auto;
    }
    .links-section-icons{
        height: 24px;
    }
    .link-container p,a{
        font-size: 15px;
    }
    .footer-txt{
        font-size: 16px;
    }
    .link-icons{
        font-size: 22px;
    }
    .footer-links p{
        display: initial;
        font-size: 12px;
        /* color: #F6F8FF; */
        /* color: var(--lm-bg); */
    }
    .footer-section{
        padding: 2px 38px;
    }
    .error-img{
        width: 350px;
    }
    .error-heading{
        font-size: 4.5rem;
    }
    .error-desc{
        font-size: 1.025rem;
    }
}

.deactive{
    display: none;
}